<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Cafe&Wifi API</title>
</head>
<body>
    <div class="jumbotron text-center container mt-5">
        <h1 class="">Welcome to the Cafe & Wifi API</h1>
        <a class="btn btn-lg btn-outline-dark text-center mt-5" href="https://documenter.getpostman.com/view/2568017/TVRhd9qR#0d46f5c0-0b41-4bf4-af71-70e0c6a7f475">Documentation</a>

    </div>
    
</body>
</html>